:root {
  --mainBlue: #1B2F55;
  --secondaryBlue: #2B4F81;
  --mainGreen: #00B989;
  --mainWhite: #EEEEEE;
  --secondaryWhite: #E2E2E2;
  --mainGray: #8B8B8B;

  --maxWidthSize: 1200px;
}
body {
  background-color: var(--mainBlue);
}
body, h1{
  margin: 0px;
}